.app__skills-container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-left: 10rem;

    img{
        width: 150px;
        height: 150px;
        filter: grayscale(1);
        margin: 2.5rem;

        &:hover{
            filter:grayscale(0)
        }
    }
}

